/*
 *  TABS
 *  With animated underline to show active tab
 *
 */


@keyframes underlineScale {
  10% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(0.5)
  }
  55% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(1);
  }
}

.tabs {
  display: none;
  margin-bottom: 30px;
  text-align: center;

  .tab {
    display: inline-block;
    margin: 0 15px 10px 15px;
    cursor: pointer;
    font-family: $Futura;
    font-size: 24px;
    text-transform: uppercase;
    color: $nonBlack;
    transition: opacity $hover-duration-quick ease-in-out, color .32s ease-in-out;

    &:hover:not([aria-selected="true"]) {
      opacity: $hover-fade-back;
    }
  }

  @media screen and (min-width: $bp-medium) {
    position: relative;
    display: block;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;

    .underline {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 0;
      transition: all .3s ease-in-out;
    }

    &.animate .underline {
      animation: underlineScale .5s 1;
    }
  }

  @media screen and (min-width: $bp-large) {

    .tab {
      font-size: 26px;
      margin: 0 20px 10px 20px;
    }
  }
}
